h1 {
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #74DAE2;
    text-align: center;
    justify-content: center;
    align-items: center;
}
body {
    background-color: #2A282A;
    text-align: center;
}
#vanlig {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EF5480;
    
    color: white;
    border-radius: 20px;
    border-width: 2px;
    
    
}
#multiplayer {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EF5480;
    
    
    color: white;
    border-radius: 20px;
    border-width: 2px;
    
}
